{% extends 'django_pdf_overlay/base.html' %}
{% load bootstrap4 %}

{% block content %}

    {% if object.pk %}
        <h1>{{ object }}</h1>
    {% else %}
        <h1>New Document</h1>
    {% endif %}
    <hr />

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <div class="form-actions">
            {% if object.pk %}
                <input type="submit" name="submit" value="Replace Document" class="btn btn-primary">
            {% else %}
                <input type="submit" name="submit" value="Upload New Document" class="btn btn-primary">
            {% endif %}
            <a href="{% url 'django-pdf-overlay:index' %}" class="btn btn-warning">Cancel</a>
        </div>
    </form>

{% endblock %}
