{% extends 'django_pdf_overlay/base.html' %}

{% block header %}
    <style type="text/css">
    #texts {
        border: 1px dotted;
        {% if object.image %}
        background: url({{ object.image.url }});
        {% endif %}
        background-size: 100% 100%
    }
    </style>
{% endblock %}

{% block content %}

    <h1><a href="{{ object.document.get_absolute_url }}">{{ object.document.name }}</a>
        <small class="text-muted">Page #{{ object.number }} Field Layout</small></h1>

    <p>Drag and drop the fields as needed, text position is based off of bottom left corner of the field itself.</p>

    <p>Image missing or look bad? <a href="{{ object.get_image_regen_url }}">Try to regenerate the image.</a></p>

    <p>You can use this dropdown to change the relative size of the layout to better place fields:
        <select id="offset_selected">
            <option selected="selected">1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </p>

    <canvas id="texts" width="{{ object.width }}" height="{{ object.height }}"></canvas>

    <form method="post" id="field-positions" action="{{ object.get_fields_layout_url }}">{% csrf_token %}
        <div class="form-actions">
            <input type="submit" name="submit" value="Save Field Layout" class="btn btn-primary"/>
        </div>
    </form>

{% endblock %}

{% block footer %}
    <script type="text/javascript">

        // If we expand the image, need to keep the output values relative to 8.5x11 sheet
        var size_offset = 1;

        var canvas = document.getElementById("texts");

        canvas.width = canvas.width * size_offset;
        canvas.height = canvas.height * size_offset;

        function change_offset(new_offset) {
            canvas.width = Math.round(canvas.width / size_offset) * new_offset;
            canvas.height = Math.round(canvas.height / size_offset) * new_offset;
            for (var i = 0; i < texts.length; i++) {
                var text = texts[i];
                text.x = Math.round(text.x / size_offset) * new_offset;
                text.y = Math.round(text.y / size_offset) * new_offset;
                text.font_size = Math.round(text.font_size / size_offset) * new_offset;
                text.width = ctx.measureText(text.text).width * new_offset;
                text.height = Math.round(text.font_size / size_offset) * new_offset;
            }

            draw();

            size_offset = new_offset;
            localStorage.setItem('django_pdf_overlay_layout_offset', size_offset);
        }

        var ctx = canvas.getContext("2d");

        var $canvas = $("#texts");

        // some text objects
        var texts = [];

        {% for field in object.fields.all %}
            texts.push({
                pk: {{ field.pk }},
                text: "{{ "{" }}{{ field.name }}{{ "}" }}",
                name: "{{ field.name }}",
                x: {{ field.x }},
                y: {{ field.y }},
                font_size: {{field.font_size}},
                font_font: "{{ field.font }}",
                font_color: "{{ field.font_color }}",
            });
        {% endfor %}

        for (var i = 0; i < texts.length; i++) {
            var text = texts[i];
            ctx.font = text.font_size + "px " + text.font_font;

            $('<input>').attr({type: 'hidden', id: text.pk + '_x', name: text.pk + '_x', value: text.x}).appendTo('#field-positions');
            $('<input>').attr({type: 'hidden', id: text.pk + '_y', name: text.pk + '_y', value: text.y}).appendTo('#field-positions');
            $('<input>').attr({type: 'hidden', id: text.pk + '_font_size', name: text.pk + '_font_size', value: text.font_size}).appendTo('#field-positions');
            $('<input>').attr({type: 'hidden', id: text.pk + '_font', name: text.pk + '_font', value: text.font_font}).appendTo('#field-positions');
            $('<input>').attr({type: 'hidden', id: text.pk + '_font_color', name: text.pk + '_font_color', value: text.font_color}).appendTo('#field-positions');
        }

        // this var will hold the index of the selected text
        var selectedText = -1;

        if (localStorage.getItem('django_pdf_overlay_layout_offset') === null) {
            change_offset(1);
        } else {
            change_offset(localStorage.getItem('django_pdf_overlay_layout_offset'));
            document.getElementById('offset_selected').value = localStorage.getItem('django_pdf_overlay_layout_offset');
        }

        $('#offset_selected').on('change', function() {
            change_offset(parseInt(this.value));
        });

        // clear the canvas draw all texts
        function draw() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            for (var i = 0; i < texts.length; i++) {
                var text = texts[i];
                ctx.font = text.font_size + "px " + text.font_font;
                ctx.fillStyle = text.font_color;
                ctx.fillText(text.text, text.x, text.y);
            }
        }

        // test if x,y is inside the bounding box of texts[textIndex]
        function textHittest(x, y, textIndex) {
            var text = texts[textIndex];
            return (x >= text.x &&
                x <= text.x + text.width &&
                y >= text.y - text.height &&
                y <= text.y);
        }

        function getMousePos(canvas, evt) {
            var rect = canvas.getBoundingClientRect();
            return {
                x: evt.clientX - rect.left,
                y: evt.clientY - rect.top
            };
        }

        // handle mousedown events
        // iterate through texts[] and see if the user
        // mousedown'ed on one of them
        // If yes, set the selectedText to the index of that text
        function handleMouseDown(e) {
            e.preventDefault();

            mpos = getMousePos(canvas, e);

            // Put your mousedown stuff here
            for (var i = 0; i < texts.length; i++) {
                if (textHittest(mpos.x, mpos.y, i)) {
                    selectedText = i;
                }
            }
        }

        // done dragging
        function handleMouseUp(e) {
            e.preventDefault();
            selectedText = -1;
        }

        // handle mousemove events
        // calc how far the mouse has been dragged since
        // the last mousemove event and move the selected text
        // by that distance
        function handleMouseMove(e) {
            if (selectedText < 0) {return;}
            e.preventDefault();

            mpos = getMousePos(canvas, e);

            var text = texts[selectedText];
            text.x = mpos.x;
            text.y = mpos.y;
            document.getElementById(text.pk + '_x').value = Math.round(text.x / size_offset);
            document.getElementById(text.pk + '_y').value = Math.round(text.y / size_offset);
            draw();
        }

        // listen for mouse events
        $canvas.mousedown(function (e) {
            handleMouseDown(e);
        });
        $canvas.mousemove(function (e) {
            handleMouseMove(e);
        });
        $canvas.mouseup(function (e) {
            handleMouseUp(e);
        });
        $canvas.mouseout(function (e) {
            handleMouseUp(e);
        });

    </script>
{% endblock %}
