{% extends 'django_pdf_overlay/base.html' %}
{% load bootstrap4 %}

{% block content %}

    <h1><a href="{{ object.document.get_absolute_url }}">{{ object.document.name }}</a>
        <small class="text-muted">Page #{{ object.number }} Field Editor</small></h1>

    <form class="form-horizontal" method="post" action="{{ object.get_fields_editor_url }}">{% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            {% if form.instance.pk is None %}
                <div class="form-group">
                    <h3>New Field Form</h3>
                    The new field will appear in the top left corner of the Field Layout screen.
                </div>
            {% else %}
                <div class="form-group">
                    <h3>Field: {{ form.instance.name }}
                    <small class="text-muted" style="float: right;">Created: {{ form.instance.inserted }}</small></h3>
                </div>
            {% endif %}
            <div class="form-group">
                {% bootstrap_form form layout='horizontal' %}
            <hr />
            </div>
        {% endfor %}

        {% buttons %}
            <input type="submit" name="submit" value="Save" class="btn btn-primary">
        {% endbuttons %}
    </form>

    {% if perms.django_pdf_overlay.add_field %}
    <hr />

    <h1>Copy All Fields From Another Page</h1>

    <form method="post" action="{% url 'django-pdf-overlay:page-fields-copy' pk=object.pk %}">{% csrf_token %}
        {% bootstrap_form field_copy_form layout='horizontal' %}
        {% buttons %}
            <input type="submit" name="copy_fields" value="Copy Fields" class="btn btn-primary">
        {% endbuttons %}
    </form>
    {% endif %}

{% endblock %}
