{% extends 'forms/base.html' %}

{% block content %}

    <table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Page Count</th>
        <th>Created</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
        {% for document in object_list %}
            <tr>
                <td><a href="{{ document.get_absolute_url }}">{{ document.name }}</a></td>
                <td>{{ document.pages.count }}</td>
                <td>{{ document.inserted }}</td>
                <td><a href="{% url 'forms:document-delete' pk=document.pk %}" class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}
