{% extends 'root.html' %}
{% load bootstrap %}

{% block content %}

    <div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">{{ pdf.name }}'s Fields</span>
                </div>
                <div class="tools"></div>
            </div>
            <div class="portlet-body">

            <p>Use the blank rows at the bottom to supply new fields, name is required and must be unique.
                The new field will appear in the top right corner of the layout screen.</p>

            <form class="form-horizontal" method="post">{% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    <div class="form-group">
                        {{ form.as_table  }}
                    <hr />
                    </div>
                {% endfor %}

                <div class="form-actions">
                    <input type="submit" name="submit" value="Save">
                </div>
            </form>

            </div>
        </div>
    </div>
    </div>

{% endblock %}
