{% load static bootstrap %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rowan's Law - Oakville Rangers Hockey Club</title>

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21871583-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-21871583-6');
    </script>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/global/plugins/bootstrap-table/bootstrap-table.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" type="text/css"/>

    <style>
        body {
            background: #fff url({% static 'assets/backgrounds/rink.jpg' %}) no-repeat 50% 0;
        }

        #outer_wrapper {
            border: none;
            width: 100%;
            min-width: 1200px;
            max-width: 1200px;
            margin: 0 auto;
        }

        #layout_header {
            position: absolute;
            z-index: 2000;
            width: 100%;
            min-width: 1200px;
            max-width: 1200px;
            top: 0px;
        }

        #layout_header .banner {
            background: transparent url({% static 'assets/backgrounds/orhc-main-header.jpg' %}) no-repeat 50% 0;
            border-bottom: solid 6px #e2383f;
            padding: 0px;
            margin: 0px;
            height: 185px;
            overflow: hidden;
        }

        #layout_header .banner .logo {
            text-align: center;
            padding: 0px;
            margin: 0px;
            position: absolute;
            z-index: 1;
            width: 220px;
            height: 160px;
            float: left;
        }

        #layout_content {
            background: #ffffff;
            padding: 10px;
            top: 190px;
            position: absolute;
            max-width: 1200px;
            min-width: 1200px;
            width: 100%;
        }

        #layout_ohf_logos {
            clear: both;
            text-align: center;
            height: 180px;
            vertical-align: middle;
        }

        #content {
            clear: both;
            margin: 10px;
            background: #ffffff;
        }
        .hilight-names {
            font-style: italic;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div id="outer_wrapper">
    <div id="layout_header">
        <div class="pageBody">
            <div class="banner">
                <div class="logo"><img src="{% static 'assets/logos/orhc-main-site-header.png' %}"></div>
                <div class="content"></div>
            </div>
        </div>
    </div>
    <div id="layout_content">

        {% if form.instance.pk %}
            <div class="alert alert-info">
            <h1 style="color: green;">Acknowledgement of the OHF Rowan's Law received!</h1>
            <h3>If you wish to save a copy for yourself, <a href="{{ form.instance.file.url }}" target="_blank">please click this link</a>.</h3>
            </div>
        {% endif %}

        <div id="layout_ohf_logos">
            <img src="{% static 'assets/logos/OHF-200x176.png' %}" style="float: left;">
            <img src="{% static 'assets/logos/HockeyCanada_200x188.png' %}" style="float: right;">
            <span style="margin-top: 10px;">
                <h1 style="text-align: center;">ONTARIO HOCKEY FEDERATION</h1>
                400 Sheldon Drive, Unit 9, Cambridge, Ontario N1T 2H9<br/>T: 226 533-9070 F:
                519 620-7476<br/><a href="http://www.ohf.on.ca" target="_blank">www.ohf.on.ca</a>
            </span>
        </div>

        <hr />

        <div id="content">
            <h2 style="text-align: center;">Ontario Hockey Federation Rowan's Law Acknowledgement Form</h2>
            <p>The Ontario Government has enacted Rowan's Law (Concussion Safety), 2018, S.O. 2010, c. 1 ("Act").
                Ontario Regulation 161/19, the <em>Act</em> requires all sport organizations as defined in the
                Regulation ("Sports Organization"), which includes the Ontario Hockey Federation ("OHF"), to have a
                Concussion Code of Conduct. This Concussion Code of Conduct must require participants, as set out in the
                Act, to review the Ontario Government's issued Concussion Awareness Resources on an annual basis. A
                participant is subject to a Concussion Code of Conduct for each Sports Organization a participant
                registers with.</p>
            <p>Applicable age appropriate Concussion Awareness Resources are located at <a
                    href="https://www.ontario.ca/concussions" target="_blank">https://www.ontario.ca/concussions</a>.
                The OHF Concussion Code of Conduct and the appropriate Concussion Awareness Resources must be reviews
                before you can register/participate in the OHF.</p>
            <ul>
                <li><a href="https://www.ontario.ca/page/ontario-government-concussion-awareness-resource-e-booklet-ages-10-and-under" target="_blank">10 and Under Concussion Awareness Resource</a></li>
                <li><a href="https://www.ontario.ca/page/ontario-government-concussion-awareness-resource-e-booklet-ages-11-14" target="_blank">11-14 Concussion Awareness Resource</a></li>
                <li><a href="https://www.ontario.ca/page/ontario-government-concussion-awareness-resource-e-booklet-ages-15-and-up" target="_blank">15 and Over Concussion Awareness Resource</a></li>
            </ul>
            <p>If you would like to have a record of your review of the concussion awareness resources, you can complete
                this for and keep it as a receipt to remind you of the date on which you reviewed it.</p>
            <h3>Acknowledgement of Review</h3>
            <p>I, <span class="hilight-names player-first-name">{Player First Name}</span>
                <span class="hilight-names player-last-name">{Player Last Name}</span>,
                <span class="hilight-names player-date-of-birth">{Player Date of Birth}</span>
                 confirm that I have reviewed the OHF
                Concussion Code of Conduct (<a href="#ohf-concussion-code">Appendix A below</a>) and the appropriate Concussion Awareness Resources and commit to
                operating within the parameters of the OHF Concussion Code of Conduct under the role which I have
                registered with the OHF.</p>
            <p><span class="hilight-names player-signature">{Player Signature}</span></p>

            {% if form.instance.pk %}
                <p>Signed: <span class="hilight-names player-signature-date">{Player Signature Date}</span></p>
            {% endif %}

            <div class="parent-signature-section">
                <p><strong>If the participant above is under the age of the 18, then the parent of that participant must
                    also sign the Acknowledgement set out below.</strong></p>
                <p>I, <span class="hilight-names parent-full-name">{Parent Full Name}</span> confirm that I have reviewed the OHF Concussion Code of Conduct and the appropriate
                    Concussion Awareness Resources and commit that the signatory above and I will operate within the
                    parameters of the OHF Concussion Code of Conduct under the role which I have registered within the OHF.</p>
                <p><span class="hilight-names parent-signature">{Parent Signature}</span></p>

                {% if form.instance.pk %}
                    <p>Signed: <span class="hilight-names parent-signature-date"></span></p>
                {% endif %}

            </div>
            <p><em>Disclaimer: In order to register/participate in the OHF this signed form must be submitted to the
                Minor Hockey Association that you are registering with.</em></p>

            {% if not form.instance.pk %}

                <hr />

                <p style="color: red; font-weight: bold">
                    All Player fields are required! If the player is under 18, Parent name and signature are also required.
                </p>
                <form method="post" role="form">
                    {% csrf_token %}
                    {{ form|bootstrap_horizontal }}
                    <input type="submit" class="btn btn-primary submit" name="submit" value="Submit Acknowledgement">
                    <p class="help-block parent-signature-required">Parent Signature Required.</p>
                </form>
            {% endif %}

            <hr/>

            <a name="ohf-concussion-code"></a>
            <h1>OHF Concussion Code of Conduct 2019-2020</h1>
            <p>(Updated as of 2019-07-10)</p>
            <p><strong>I will help prevent concussions by my commitment to:</strong></p>
            <ul>
                <li>Wearing the proper equipment for my sport and wearing it correctly;</li>
                <li>Respecting the rules of my sport or activity; and</li>
                <li>My commitment to fair player and respect for all* (respecting other athletes, coaches, team trainers and officials).</li>
            </ul>
            <p><strong>I will care for my and others health and safety by taking concussions seriously, and I understand that:</strong></p>
            <ul>
                <li>A concussion is a brain injury that can have both short- and long-term effects;</li>
                <li>A blow to the head, face or neck, or a blow to the body that causes the brain to move around inside
                    the skull may cause a concussion; and</li>
                <li>A person doesn't need to lose consciousness to have had a concussion.</li>
            </ul>
            <p><strong>I will commit to:</strong></p>
            <ul>
                <li>report any possible concussion received during participation in the OHF to a designated person;</li>
                <li>recognizing a concussion or possible concussion and the reporting to a designated person when an
                    individual suspects that another individual may have sustained a concussion;</li>
                <li>sharing any pertinent information regarding incidents of a removal from sport with the Player's
                    school and other sport organization with which the player has registered;</li>
                <li>sharing any pertinent information regarding incidents of a concussion that have occurred outside of
                    participation in the OHF to a designated person with your/individuals Team;</li>
                <li>Complete Injury Report forms in a timely manner and ensure they are submitted to the Member;</li>
                <li>Give commitment to providing opportunities before and after each training, practice and competition
                    to enable participants to discuss potential issues related to concussions; and</li>
                <li>Maintain an open dialogue with all athletes and participants (and parents/guardians in cases of
                    minors) about their health and any signs and symptoms of concussion they may experience.</li>
            </ul>
            <p><strong>I will commit to respect the OHF Removal and Return to Play Protocol by:</strong></p>
            <ul>
                <li>Understanding that if I have a suspected concussion, I will be removed from sport and that I will
                    not be able to return to training, practice or competition until I undergo a medical assessment by a
                    medical doctor or nurse practitioner and have medically cleared to return to training, practice or
                    competition;</li>
                <li>Understanding I will have to be medically cleared by a medical doctor or nurse practitioner before
                    returning to training, practice or competition;</li>
                <li>Respect the roles and responsibilities of all coaches and health care professionals in Return to
                    Play protocol; and</li>
                <li>Respond appropriately with Return to Play protocols if a participant is experiencing concussion
                    related symptoms or if you suspect any participant has sustained a concussion.</li>
            </ul>
        </div>
    </div>
</div>
    <script src="{% static 'assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>

    <script type="text/javascript">

        $('.parent-signature-required').hide();

        function swap_field(field) {
            if (field.val().length <= 0) {
                $('.submit').attr('disabled', 'disabled');
                $('.parent-signature-required').show();
            } else {
                $('.submit').removeAttr('disabled');
                $('.parent-signature-required').hide();
            }
        }

        var under_18 = false;

        $("#id_player_date_of_birth").datepicker({
            autoclose: true,
            showMeridian: true,
            startView: "decade",
            endDate: '+0d',
            format: "yyyy-mm-dd",
        }).on('changeDate', function(ev) {

            var current = new Date().getTime();
            var dateSelect = ev.date.getTime();
            var age = current - dateSelect;
            var ageGet = Math.floor(age / 1000 / 60 / 60 / 24 / 365.25); // age / ms / sec / min / hour / days in a year
            if (ageGet < 18) {
                under_18 = true;
                swap_field($('#id_parent_signature'));
            } else {
                under_18 = false;
                $('.submit').removeAttr('disabled');
                $('.parent-signature-required').hide();
            }

        });

        $('#id_parent_signature').on('keyup', function() {
            if (under_18 === true) {
                swap_field($(this));
            } else {
                $('.submit').removeAttr('disabled');
                $('.parent-signature-required').hide();
            }
        });

        {% if form.instance.pk %}
        var data = {
            "player-first-name": "{{ form.instance.player_first_name }}",
            "player-last-name": "{{ form.instance.player_last_name }}",
            "player-date-of-birth": "{{ form.instance.player_date_of_birth|date:"Y-m-d" }}",
            "player-signature": "{{ form.instance.player_signature }}",
            "player-signature-date": "{{ form.instance.player_signature_date|date:"Y-m-d" }}",
            "parent-full-name": "{{ form.instance.parent_full_name }}",
            "parent-signature": "{{ form.instance.parent_signature }}",
            "parent-signature-date": "{{ form.instance.parent_signature_date|date:"Y-m-d" }}",
        };
        $.each(data, function (k, v) {
            if (v) {
                $('span.' + k).text(v);
            }
        });
            {% if form.instance.parent_signature  %}
                $('.parent-signature-section').show();
            {% else %}
                $('.parent-signature-section').hide();
            {% endif %}
        {% endif %}
    </script>
</body>
</html>
