{% extends 'django_pdf_filler/base.html' %}

{% block content %}

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            {% if object.pk %}
                <input type="submit" name="submit" value="Replace Document" class="btn btn-primary">
            {% else %}
                <input type="submit" name="submit" value="Upload New Document" class="btn btn-primary">
            {% endif %}
            <a href="{% url 'django-pdf-filler:index' %}" class="btn btn-warning">Cancel</a>
        </div>
    </form>

{% endblock %}
