{% extends 'django_pdf_filler/base.html' %}

{% block content %}
    <div style="float: right;">
        {% if perms.django_pdf_filler.change_document %}
            <a href="{% url 'django-pdf-filler:document-edit' pk=object.pk %}" class="btn btn-primary">Edit</a>
        {% endif %}
        {% if perms.django_pdf_filler.delete_document %}
            <a href="{% url 'django-pdf-filler:document-delete' pk=object.pk %}" class="btn btn-danger">Delete</a>
        {% endif %}
    </div>
    <h1>{{ object.name }}</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Page #</th>
            <th scope="col">Image</th>
            <th scope="col">Edit Layout</th>
            <th scope="col">Edit Field(s)</th>
        </tr>
        </thead>
        <tbody>

            {% for page in object.pages.all %}
                <tr>
                    <th scope="row">{{ page.number }}</th>
                    <td>
                        {% if page.image %}
                            <a href="{{ page.get_layout_image_url }}"><img src="{{ page.get_layout_image_url }}" style="max-width: 150px;" alt="{{ page }}"/></a>
                        {% elif perms.django_pdf_filler.change_page %}
                            <a href="{% url 'django-pdf-filler:page-edit' pk=page.pk %}" class="btn btn-primary">Add Image</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if perms.django_pdf_filler.change_page and page.image %}
                            <a class="btn btn-primary" href="{{ page.get_fields_layout_url }}">Field Layout</a>
                        {% else %}
                            <a class="btn btn-primary disabled" href="#">Field Layout</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if perms.django_pdf_filler.change_field %}
                            <a class="btn btn-info" href="{{ page.get_fields_editor_url }}">{{ page.fields.count }} field{{ page.fields.count|pluralize:",s" }}</a>
                        {% else %}
                            <a class="btn btn-info disabled" href="#">{{ page.fields.count }} field{{ page.fields.count|pluralize:",s" }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
